body {
    text-align: justify;
    font-family: Arial;
}

/*ELEMENTOS SIMPLES*/
h4 {
    margin-top: 20px;
}

h5 {
    text-align: center;
}

em {
    font-weight: 550;
}

/*IMAGENES*/
img.derecha {
    float: right;
    vertical-align: text-top;
    margin-left: 10px;
    border: #0dcaf0 4px solid;
}

img.izquierda {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

/*DIV*/
div {
    margin-top: 10px;
}

div.progress-bar-striped {
    text-align: center;
    font-weight: bold;
    margin: 0;
}

div.card {
    font-weight: bold;
    border: none;
}

/*NAVBAR*/
nav.navbar {
    padding-bottom: 15px;
}

a.nav-link {
    font-weight: bold;
    color: white;
}

a.btn-outline-light {
    font-weight: bold;
}